name: Tests for the Haskell Phrasebook

on: [ push, pull_request ]

jobs:
  test:
    name: Test the examples
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.channel == 'nixos-unstable' }}

    strategy:
      matrix:
        channel:
          - nixos-unstable
          - nixos-20.09

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:${{ matrix.channel }}

      - uses: cachix/cachix-action@v8
        with:
          name: typeclasses

      - run: ./tools/test
